<div id="side-bar" class="pt-4 d-none d-xl-block">
    <ul class="list-unstyled components">
        <li class="mb-3">
            <a class="filter-link" href="/recipes">All Recipes</a>
        </li>
        <li class="mb-3">
            <a class="filter-link" href="/recipes?mealtype=your">My Recipes</a>
        </li>
        <li class="mb-3">
            <a class="filter-link" href="/recipes?mealtype=breakfast">Breakfast Recipes</a>
        </li>
        <li class="mb-3">
            <a class="filter-link" href="/recipes?mealtype=lunch">Lunch Recipes</a>
        </li>
        <li class="mb-3">
            <a class="filter-link" href="/recipes?mealtype=dinner">Dinner Recipes</a>
        </li>
        <li class="mb-3">
            <a class="filter-link" href="#">Vegeterian Recipes</a>
        </li>
        <li class="mb-3">
            <a class="filter-link" href="#">Vegan Recipes</a>
        </li>
        <li class="mb-3">
            <a class="filter-link" href="#">Low Calorie Recipes</a>
        </li>
        <li class="mb-3">
            <a class="filter-link" href="/recipes/new">Add New Recipe</a>
        </li>
    </ul>
</div>