<% layout('layouts/boilerplate') %> 
<body>
    <h1><%= mealtype.toUpperCase() %>  Recipes here!</h1>
    <p>Please click on a meal to see more information</p>
    <p>Filter by meal type:</p>
    <a href="/recipes">All Recipes</a> <a href="/recipes?mealtype=breakfast">Breakfast</a> <a href="/recipes?mealtype=lunch">Lunch</a> <a href="/recipes?mealtype=dinner">Dinner</a>
    <% for (let recipe of recipes) { %>
        <h3><a href="/recipes/<%=recipe._id%>"><%= recipe.name  %></a> </h3>
    <% } %>  
    <a href="/recipes/new">Add new recipes</a>
