<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-md-4 offset-md-4 mt-5">
        <h1 class="mb-5">RECIPEAT</h1>
        <form action="/login" method="POST" novalidate class="validated-form">
            <div class="form-floating mb-3">
                <input class="form-control black-style" type="text" id="username" name="username" placeholder="username" required>
                <label class="form-label" for="username">Username:</label>
            </div>
            <div class="form-floating mb-5">
                <input class="form-control black-style" type="password" id="password" name="password" placeholder="password" required>
                <label class="form-label" for="password">Password:</label>
            </div>
            <button class="btn btn-dark btn-lg">Login</button>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="/styles/js/new.js"></script>